{{#each @docTree as |leaf|}}
  {{#if leaf.value}}
    {{#if leaf.link}}
      {{this.whitespace}}<button class="tree-button" type="button" {{on "click" (fn @clickHandler leaf.value)}}>{{leaf.name}}</button><br>
    {{else}}
      {{this.whitespace}}{{leaf.name}}<br>
    {{/if}}
    <MenuItems @docTree={{leaf.value}} @level={{this.nextLevel}} @clickHandler={{@clickHandler}}/>
  {{/if}}
{{/each}}