<div class="menu">
  {{link-to "general ideas" "documentation.under-construction" "general-ideas"}}
  {{link-to "microservice templates" "documentation.templates"}}
  <div class="submenu menu__templates">
    {{link-to "mu-javascript-template" "documentation.templates.from-repository" "mu-javascript-template"}}
    {{link-to "mu-ruby-template" "documentation.templates.from-repository" "mu-ruby-template"}}
    {{link-to "mu-python-template" "documentation.templates.from-repository" "mu-python-template"}}
    {{link-to "roll your own" "documentation.templates.roll-your-own"}}
  </div>

  {{link-to "core microservices" "documentation.core"}}
  <div class="submenu menu__core-microservices">
    {{link-to "mu-identifier" "documentation.core.from-repository" "mu-identifier"}}
    {{link-to "mu-dispatcher" "documentation.core.from-repository" "mu-dispatcher"}}
    {{link-to "mu-cl-resources" "documentation.core.from-repository" "mu-cl-resources"}}
    {{link-to "mu-authorization" "documentation.core.from-repository" "mu-authorization"}}
  </div>
  {{link-to "debugging howtos" "documentation.under-construction" "debugging-howto"}}
  {{link-to "semantic models" "documentation.under-construction" "semantic-models"}}
  {{link-to "cookbooks" "documentation.under-construction" "cookbooks"}}
</div>

<div class="documentation-body">
  {{outlet}}
</div>
